// Place all the styles related to the Clocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.3;
}

h1 {
  text-align: center;
}

input {
  padding: 0.1rem;
}

.grid-container {
  display: grid;
  justify-content: space-around;
}

.currentTime {
  font-size: 5rem;
  font-family: 'Titillium Web', sans-serif;
}

.notice {
  animation-name: fadeout;
  animation-duration: 2s;
  opacity: 0;
  text-align: center;
  min-height: 2rem;
}

tr:nth-child(even) {
  background: #CCC
}

tr:nth-child(odd) {
  background: #FFF
}

@keyframes fadeout {
    0%   {opacity: 1;}
    100%  {opacity: 0;}
}
